:root{
  --warna-primary: #003d7e;
  --warna-sekunder: #00bfff;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: var(--warna-primary)!important;
}
.container {
  max-width: 700px;
  width: 100%;
  margin-top: 100rem;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: var(--warna-primary);
}
/* .content {
  margin-top: 9rem;
} */

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 0 20px 0;
}
form .user-details .input-box {
  margin-bottom: 30px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box select {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box p {
  font-size: 12px;
}

.container .content .sub {
  font-weight: bold;
  font-size: 50px;
}

.garis-bawah::after {
  position: absolute;
  content: '';
  background: var(--warna-primary);
  height: 4px;
  width: 100px;
  left: 10%;
  transform: translateX(-50%);
}

.user-details .input-box textarea {
  height: 80px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: var(--warna-primary);
}

.user-details .input-box textarea:focus,
.user-details .input-box textarea:valid {
  border-color: var(--warna-primary);
}

.user-details .input-box select:focus,
.user-details .input-box select:valid {
  border-color: var(--warna-primary);
}

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}
form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}
form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
form .button {
  height: 45px;
  margin: 35px 0;
}
form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: var(--warna-primary);
}
form .button input:hover {
  /* transform: scale(0.99); */
  background: var(--warna-sekunder);
}

@media (max-width: 584px) {
  .container {
    margin-top: 200px;
    max-width: 1100%;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 200%;
  }
  form .category {
    width: 200%;
  }
  .container .content .sub {
    margin-top: 100px;
    padding-top: 500px;
  }
  .content form .user-details {
    max-height: 400px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
  }
  .container .content .con {
    width: 23rem;
    height: 60px;
  }
}
@media (max-width: 428px) {
  .container .content .category {
    flex-direction: column;
  }

  .container {
    margin-top: 1rem;
  }

  .container .content .sub {
    font-size: 30px;
    margin: 0 0 0;
  }
  .garis-bawah::after {
    position: absolute;
    content: '';
    background: var(--warna-primary);
    height: 4px;
    width: 100px;
    left: 17%;
    transform: translateX(-50%);
  }
}

@media (max-width: 413px) {
  .garis-bawah::after {
    position: absolute;
    content: '';
    background: var(--warna-primary);
    height: 4px;
    width: 100px;
    left: 18%;
    transform: translateX(-50%);
  }
  .container .content .con {
    width: 20rem;
    height: 60px;
  }
}

/* @media (max-width: 375px) {
  .garis-bawah::after {
    position: absolute;
    content: '';
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    height: 4px;
    width: 100px;
    left: 18%;
    transform: translateX(-50%);
  }
  .container .content .con {
    width: 2rem;
    height: 60px;
  }
  .container {
    margin-top: 5rem;
  }
} */

@media (max-width: 360px) {
  .garis-bawah::after {
    position: absolute;
    content: '';
    background: var(--warna-primary);
    height: 4px;
    width: 100px;
    left: 20%;
    transform: translateX(-50%);
  }
  .container .content .con {
    width: 17rem;
    height: 60px;
  }
  .container {
    margin-top: 5rem;
  }
}

/* @media (max-width: 1920px) {
  .garis-bawah::after {
    position: absolute;
    content: '';
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    height: 4px;
    width: 100px;
    left: 8.3%;
    transform: translateX(-50%);
  }
} */
