@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  --warna-primary: #003d7e;
  --warna-sekunder: #00bfff;
  --warna-tulisan: #fff;
  --warna-tulisan2 : #000;
}

body {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: var(--warna-primary) !important;
} 

.container {
  width: 100%;
  background-color: var(--warna-tulisan);
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: var(--warna-primary);
}

.gam{
  display: flex;
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 0 20px 0;
}
form .user-details .input-box {
  margin-bottom: 30px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid var(--warna-tulisan);
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box select {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid var(--warna-tulisan);
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box p {
  font-size: 12px;
}

.container .content .sub {
  font-weight: bold;
  font-size: clamp(30px, 4vw, 50px);
}

.garis-bawah::after {
  position: absolute;
  content: '';
  background: var(--warna-primary);
  height: 4px;
  width: 50%;
  left: 10%;
  transform: translateX(-50%);
}

.user-details .input-box textarea {
  height: 80px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid var(--warna-tulisan);
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #6f42c1;
}

.user-details .input-box textarea:focus,
.user-details .input-box textarea:valid {
  border-color: #6f42c1;
}

.user-details .input-box select:focus,
.user-details .input-box select:valid {
  border-color: #6f42c1;
}

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}
form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}
form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
form .button {
  height: 45px;
  margin: 35px 0;
}
form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: var(--warna-tulisan);
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: var(--warna-primary);
}
form .button input:hover {
  background: var(--warna-primary);
  color: var(--warna-tulisan2);
}

@media (max-width: 426px) {
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 200%;
  }
  form .category {
    width: 200%;
  }
  .content form .user-details {
    max-height: 400px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
  }
  .container .content .con {
    width: 23rem;
    height: 60px;
  }
}