:root{
  --warna-primary: #003d7e;
  --warna-sekunder: #00bfff;
  --warna-tulisan: #fff;
  --warna-tulisan2 : #000;
}

body {
  font-size: 15px;
  font-family: "Roboto Condensed", sans-serif;
  vertical-align: baseline;
  line-height: 26px;
  font-weight: 400;
  overflow-x: hidden;
  background: var(--warna-primary);
}

.wrapper {
  margin-top: 10px;
}

.wrapper h1 {
  font-size: clamp(30px, 8vw, 80px);
  padding: .5rem;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  color: var(--warna-tulisan);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.wrapper h2 {
  font-size: clamp(20px, 4vw, 30px);
  color: var(--warna-tulisan);
  margin-top: 15vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: 1px solid var(--warna-tulisan);
  width: 400px;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px;
  background: var(--warna-primary);
}

.wrapper h3 {
  font-size: 30px;
  margin-top: 1px;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  color: var(--warna-tulisan);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* button */

a {
  border: none;
  background: initial;
}

.link-web .btn {
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 10 0px !important;
}

.btn {
  padding: 10px 100px;
  border-radius: 550000px;
  cursor: pointer;
  border: var(--warna-tulisan2) 1px solid;
  transition: all 0.4s;
  font-size: 20px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.btn--primary {
  background-color: var(--warna-primary);
  color: var(--warna-tulisan);
  border: solid .2rem var(--warna-tulisan);
}

.btn--primary:hover {
  color: var(--warna-tulisan2);
  background: var(--warna-tulisan);
  box-shadow: 0 4px 15px 0 rgba(245,245,245);
  border: var(--warna-tulisan) 1px solid;
}

.btn--accent {
  background-color: var(--warna-tulisan);
}

.btn--accent:hover {
  color: var(--warna-tulisan);
  background: var(--warna-primary);
  box-shadow: 0 4px 15px 0 rgba(245,245,245);
  border: #000 1px solid;
}

@media screen and (max-width: 426px) {
  .link-web .btn {
    width: 75%;
    margin-top: 2px !important;
    margin-bottom: 10px;
  }
  .wrapper h3 {
    font-size: 20px;
    margin-top: 1px !important;
    text-align: center;
    margin-bottom: 50px !important;
    justify-content: center;
    font-weight: bold;
    color: var(--warna-tulisan);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  .link-web a{
      font-size: 20px;
  }

  .wrapper h1 {
    text-align: center;
    margin-top: 30px !important;
    justify-content: center;
    font-weight: bold;
    color: var(--warna-tulisan);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  .wrapper h2 {
    color: var(--warna-tulisan);
    margin-top: 90px !important;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    border: 1px solid var(--warna-tulisan);
    font-weight: bold;
    border-radius: 25px;
    padding: 5px;
    background: var(--warna-primary);
    width: 75%;
  }
  .btn {
    padding: 10px 10px;
    border-radius: 550000px;
    cursor: pointer;
    transition: all 0.4s;
    font-size: 20px;
    font-weight: bold;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
}
