:root{
  --warna-primary: #003d7e;
  --warna-sekunder: #00bfff;
}

body {
  font-size: 15px;
  font-family: "Roboto Condensed", sans-serif;
  vertical-align: baseline;
  line-height: 26px;
  font-weight: 400;
  overflow-x: hidden;
  background: var(--warna-primary);
}

.wrapper {
  margin-top: 10px;
}

.wrapper h1 {
  font-size: 80px;
  margin-top: 1px;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  color: #ffffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.wrapper h2 {
  font-size: 30px;
  color: #ffffff;
  margin-top: 15vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: 1px solid #ffffff;
  width: 400px;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px;
  /* background: linear-gradient(to right, #008000 50%, #C0C0C0 110%); */
  background: #00bfff ;
}

.wrapper h3 {
  font-size: 30px;
  margin-top: 1px;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  color: #ffffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* button */

/* *{
        margin: auto;
        padding: 0;
        box-sizing: border-box;
    } */

a {
  border: none;
  background: initial;
}

.link-web .btn {
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 10 0px !important;
}

.btn {
  padding: 10px 100px;
  border-radius: 550000px;
  cursor: pointer;
  /* color: #ffffff; */
  transition: all 0.4s;
  font-size: 20px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.btn--primary {
  background-color: #ffffff;
}

.btn--primary:hover {
  color: #ffffff;
  background: var(--warna-sekunder);
  box-shadow: 0 4px 15px 0 rgba(245,245,245);
}

.btn--accent {
  background-color: #ffffff;
}

.btn--accent:hover {
  color: #ffffff;
  background: var(--warna-sekunder);
  box-shadow: 0 4px 15px 0 rgba(245,245,245);
}

@media screen and (max-width: 426px) {
  .link-web .btn {
    width: 95%;
    margin-top: 2px !important;
    margin-bottom: 10px;
  }
  .wrapper h3 {
    font-size: 20px;
    margin-top: 1px !important;
    text-align: center;
    margin-bottom: 50px !important;
    justify-content: center;
    font-weight: bold;
    color: #ffffff;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  .link-web a{
      font-size: 20px;
  }

  .wrapper h1 {
    font-size: 25px !important;
    margin-top: 1px !important;
    text-align: center;
    margin-bottom: 70px;
    margin-top: 30px !important;
    justify-content: center;
    font-weight: bold;
    color: #ffffff;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  .wrapper h2 {
    font-size: 25px;
    color: #ffffff;
    margin-top: 90px !important;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    border: 1px solid #ffffff;
    width: 320px;
    font-weight: bold;
    border-radius: 25px;
    padding: 5px;
    background: var(--warna-primary);
  }
  .btn {
    padding: 10px 10px;
    border-radius: 550000px;
    cursor: pointer;
    /* color: #ffffff; */
    transition: all 0.4s;
    font-size: 20px;
    font-weight: bold;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
}
